{% extends 'base.html' %}
{% block page_content %}

    <!-- Create Traveler's Profile Form (Only if no traveler's profile has been created) -->
    <section id="register">
        <div class="form">
            <h2>New Traveler's Profile</h2>
            <form class="register-form" method="POST" action="{% url 'create_traveler' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Create</button>
            </form>
        </div>
    </section>

{% endblock %}