{% extends 'base.html' %}
{% block page_content %}
    
    <section id="edit">

        <div class="form">
            <h1>Do you like to delete your Traveler's Profile?</h1>
            <!-- Delete Traveler's Profile Form -->
            <form id='delete' class="register-form" method="POST" action="{% url 'delete_traveler' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <!-- Confirm Button -->
                <button type="submit">Yes</button>
            </form>
        </div>
        <!-- End Delete Form -->
    </section>
    
{% endblock %}